html {
  font-family: Merriweather, serif;
  font-family: Roboto, sans-serif;
}

.masthead {
  background-color: #163010;

  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  border: none;
  font-family: Roboto, sans-serif;
}

a:hover {
  color: #94d385;
  text-decoration: none;
  border: none;
}

.red {
  background: red;
}

.logo {
  font-family: Merriweather, serif;
}

p {
  font-family: Merriweather, serif;
}

li {
  list-style-type: none;
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.foot {
  background-color: #163010;
}

.btn {
  background-color: #113c00;
  border-color: #113c00;

  color: #fff;
}

.btn:hover {
  background-color: #568c36;
  border-color: #568c36;
}

small {
  color: #fff;
}

fieldset {
  border: 0;
}

.lizard {
  max-height: 30px;

}

.toad {
  max-height: 30px;
}

.reps {
  color: #000;
  text-decoration: none;
}

.slogan {
  color: #fff;
  font-family: Roboto, sans-serif;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
}
